.BUYOrderPressureBar .filled { 
  background-color: green;
  z-index: -1;
}
.SELLOrderPressureBar .filled { 
  background-color: red; 
  z-index: -1;
}
.OrderPressureBar {
  display: flex;
  width: 300px;
  height: 30px;
  border-radius: 5px;
  margin: 2px 10px;
  border: 1px solid black;
  position: relative;
}
.OrderPressureBar .filled {
    height: 100%;
    width: 0;
    color: black;
    overflow: visible;
    direction: rtl;
    line-height: 30px;
    text-align: right;
    padding-left: 5px;
  }
  .OrderPressureBar .unfilled {
    height: 100%;
    width: 0;
    color: black;
    overflow: visible;
    line-height: 30px;
    text-align: left;
    padding-right: 5px;
  }